.header{
  display: flex;
  flex-direction: column;
}
.header-top{
  color: rgb(0, 50, 107);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.header-bottom{
  font-size: 15px;
  font-weight: 400;
  color: rgb(94, 94, 94);
  letter-spacing: 0.5px;
}