.page{
  margin-top: 7vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 7vw;
}

.questions{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=text]{
  border: 2px solid rgba(61, 61, 61, 0.664);
  border-radius: 3px;
  width: 400px;
  height: 30px;
}

.submit-button{
  font-size: 15px;
  margin-bottom: 10vw;
  margin-top: 3vw;
  width: 150px;
  height:40px;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background: rgb(11, 68, 255);
}

#error{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: -10vw;
  width: 100%;
  margin-left: -7vw;
  padding: 10px;
  z-index: 2;
}

.show{
  top: 0vw !important;
}

.error-content{
  background: red;
  height: 20px;
  margin-top: -1.5vw;
  border: 10px solid red;
  border-radius: 10px;
}