.question-show, .email-input{
  border: 1px solid rgb(219, 219, 219);
  position: relative;
  border-radius: 3px;
  width: 55vw;
  padding: 3vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center
}

.question-show-content{
  width: 40vw;
}
.question-show-content-description{
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(107, 107, 107);
}
.radio-column{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.disagree, .agree{
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.disagree{
  color: rgb(255, 17, 0);
}

.agree{
  color: rgb(5, 158, 69);
}

.radio-show{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 1vw;
}

.radio-buttons{
  margin: 0 1vw !important;
}

.email-input-content > h1 {
  margin: 0;
  font-size: 1.3vw;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(66, 66, 66);
}

.email-input-content > input{
  width: 40vw !important;
  height: 3.5vw !important;
  border: 2px solid rgb(170, 170, 170) !important;
}